.flightPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;  
}

.flightPanel {
  background-color: white;
  padding: 32px 48px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 600px;
  height: 300px;
}

.btn {
    margin-bottom: 20px;
}
