.flightPage {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#73E3FF,#2E8584); 
}

.manageFlights {
  padding: 40px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adminFlightPanel {
  background-color: rgb(253, 253, 253);
  padding: 32px 48px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 800px;
  height: auto;
  border: 1px solid black;
  color: black;
}
